/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");

body {
  width: 100%;
  /* 標準文字色 */
  color: rgb(29, 29, 29);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
}

main {
  width: 80%;
  margin: auto;
}

/* タイトル */
#main_element-title {
  font-size: 2rem;
}

/* ボタン */
#main_element-button button {
  padding: 10px 50px;
  font-weight: 700;
  border: none;
  background-color: rgb(29, 29, 29);
  color: #fffff0;
}
